{% extends 'base.html' %}
{% block content %}
  <div class="container">
      <div class="page-header">
         <h1>Lista de Capacitações</h1>
      </div>
      <table style="width: 100%; border-collapse: collapse; font-family: Arial, sans-serif;">
          <thead>
              <tr style="background-color: #f2f2f2;">
                  <th>Nome</th>
                  <th>Curso</th>
                  <th>Instituição</th>
                  <th>Data de Conclusão</th>
                  <th>Ações</th>
              </tr>
          </thead>
         <tbody>
            {% for capacitacao in capacitacoes %}
            <tr>
                <td>{{ capacitacao.pessoa.nome }}</td>
                <td>{{ capacitacao.curso }}</td>
                <td>{{ capacitacao.instituicao }}</td>
                <td>{{ capacitacao.data_conclusao }}</td> <!-- Data já formatada no backend -->
                <td>
                     <form action="{{ url_for('rm_capacitacao', id=capacitacao.id) }}" method="POST" style="display: inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                            </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock %}
